:root {
  --bd-radius: 10px;
  --primary-color: #882433;
  --white-color: #fff;
  --text-color: #444;
  --text-color-2: #777;
  --green-color: #228b22;
  --text-font: 1.1rem;
}

.form {
  width: 80%;
  height: 100%;
  display: flex;
  padding: 2rem 3rem;
  flex-direction: column;
  /* background-color: var(--primary-color);
  color: var(--white-color); */
  border-radius: var(--bd-radius);
}

.form h1 {
  font-weight: 600;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--primary-color);
}

.form p {
  margin-bottom: 1rem;
  color: var(--text-color-2);
  font-size: var(--text-font);
}

.form label {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color);
}

.form input {
  padding: 1rem;
  margin-bottom: 1.2rem;
  border-radius: var(--bd-radius);
  border: 2px solid var(--text-color);
}

.btn {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0.5rem 1.5rem;
  color: var(--white-color);
  border-radius: var(--bd-radius);
  transition: all 500ms ease-in-out;
  background-color: var(--primary-color);
}

.btn:hover {
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.form span {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--text-color-2);
  font-size: var(--text-font);
}

.form span a {
  font-size: 0.8rem;
  text-decoration: underline;
  color: var(--primary-color);
}

.form small {
  text-align: center;
  color: var(--text-color-2);
  font-size: 1rem;
}

.form small a {
  text-decoration: underline;
  color: var(--green-color);
}
